# 忽略build目录下类型为js的文件的语法检查
build/*.js
# 忽略src/assets目录下文件的语法检查
src/assets
# 忽略public目录下文件的语法检查
public
# 忽略src下js文件的语法检查
*.js
# 忽略src下vue从文件的语法检查
*.vue
# 忽略 markdown'
*.md
#检查zh/cloud中的文件
!**/zh/cloud/**/*.vue
#检查api中的文件
!**/api/**/*.js

!**/views/*
