//el-table单元格文本最多显示两行，文本超过长度时省略
::v-deep .el-table .el-table__cell .cell{
  overflow:hidden !important;
  text-overflow:ellipsis !important;
  white-space:nowrap !important;
}

//el-button内文本单行显示，文本超出长度时省略
::v-deep .el-button{
  overflow:hidden !important;
  text-overflow:ellipsis !important;
  white-space:nowrap !important;
}

//隐藏el-table的横向滚动条
::v-deep .el-table .el-table__body-wrapper{
  // overflow-x:hidden !important;
}

//去除对话框上下内边距
::v-deep .el-dialog__body{
  padding:0 12px;
}

//去除卡片所有内边距
::v-deep .el-card__body{
  padding:0;
}


// 固定不同size下的el-form-item高度，解决不同表单控件在el-form-item中高度不一样的问题。
::v-deep .el-form-item--medium .el-form-item__content {
  height: 36px;
}
::v-deep .el-form-item--small {
  margin-bottom: 16px;
  .el-form-item__content {
    height: 33px;
  }
}
::v-deep .el-form-item--mini {
  margin-bottom: 12px;
  .el-form-item__content{
    height: 29px;
  }
}

// 去除el-table单元格中的el-form-item的外边距
::v-deep .el-table{
  .el-form-item--mini.el-form-item, .el-form-item--small.el-form-item {
    margin-bottom: 0;
    margin-right: 0;
  }

  .el-form-item {
    margin-bottom: 0;
    margin-right: 0;
  }
}

//?解决el-table中fixed列用visibility隐藏元素，会被v-focus指令触发的问题
//?例如将el-select放入el-table-cell中，会弹出2个el-popper
//!此样式无法解决问题
// ::v-deep .el-table .el-table__cell.is-hidden > * {
//     display: none;
//     visibility: hidden;
// }



.little-margin-top{
  margin-top:18px;
}
.little-margin-bottom{
  margin-bottom:18px;
}

.tinny-margin-top{
  margin-top:10px;
}
.tinny-margin-bottom{
  margin-bottom:10px;
}

.card-form-padding{
  padding:15px 10px 0px 20px;
}
.card-padding{
  padding:10px 10px 10px 10px;
}

.card-title{
  min-width:425px;
  display: flex;
  align-items:center;
  justify-content: space-between;
}


.param-input{
  width: calc(100% - 12px);
}

.table-input{
  width:100%;
}

.param-btn{
  max-width: calc(100% - 12px);
}
